<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cost Savings</title>
    <link rel='icon' href='static/favicon.ico' type='image/x-icon' />
</head>

<body>
<h1>
TODO put d3 stuff here
</h1>
<div style="height: 1000px; width: 1000px">
    <svg id='d3container' height=100% width=100%>
    </svg>
</div>
</body>

<footer>
    <script src="static/dist/main.js"></script>
    <script type="text/javascript">
        var raw_data = {{ raw_data }};
    </script>
</footer>

</html>