<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cost Savings</title>
    <link rel='icon' href='static/favicon.ico' type='image/x-icon' />
</head>

<body>
    <div class='app'>
        <style src="static/global.css"></style>
        <h1 class="Main Header">Cost Savings</h1>
        <div classname="summary">
            <ul>
                {% for msg in msgs %}
                <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>

        <div classname="graphs">
            {% for id in ids %}
            <h3>{{id}}</h3>
            <div id="{{id}}"></div>
            {% endfor %}
        </div>
    </div>
</body>

<footer>
    <script src="static/dist/main.js"></script>
    <script type="text/javascript">
        // This should only setup data structures for other code
        var graphs = {{ graphs | safe }};
        var ids = {{ ids | safe }};
        var layouts = {{ layouts }};
    </script>
</footer>

</html>